<div class="pad-bot-2 flex justify-spread">
  <button mat-mini-fab (click)="addComment($event)">
    <mat-icon class="font-gray">comment</mat-icon>
    <span class="margin-left-3 font-ui font-gray">{{
      message && message.comments ? message.comments.length : 0
    }}</span>
  </button>
  <button mat-mini-fab (click)="addRetwat($event)">
    <mat-icon class="font-gray">recycling</mat-icon>
  </button>
  <button
    [ngStyle]="{ color: (isLiked | async) ? 'rgb(0, 162, 255)' : 'grey' }"
    mat-mini-fab
    (click)="toggleLike($event)"
  >
    <mat-icon>thumb_up</mat-icon>
    <span class="margin-left-3 font-ui">{{
      message && message.likedBy ? message.likedBy.length : 0
    }}</span>
  </button>
</div>
