.mat-mdc-mini-fab {
  background-color: black;
}

div:hover.show-on-hover{
  background-color: rgb(231, 233, 234, 0.1);
}

.selected-mode {
  color: white;
  border-bottom: 3px solid rgb(29, 155, 240)
}

.unselected-mode {
  color: grey;
}