@if( user ) {
<div
  class="flex flex-row items-center"
  [ngClass]="!user.deleted ? 'cursor-pointer' : ''"
  (click)="goToProfile(user)"
>
  <div class="flex justify-center h-10 w-10">
    @if(!user.deleted){
    <img class="rounded-3xl" src="{{ user.pic }}" />
    }
  </div>
  @if(!hideUsername) {
  <div class="margin-x-6">
    @if(!user.deleted) {
    <span class="font-bold text-white font-ui">{{ user.username }}</span>
    } @else {
    <span class="font-gray font-ui italic">Deleted User</span>
    }
  </div>
  }
</div>
}
