.message-pane {
  max-height: calc(100vh - 69px);
  min-width: 414px;
  max-width: 600px;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
}

.right-pane {
  min-width: 0px;
  max-width: 200px;
}