<div class="message-pane flex-3 scroll">
  @for (message of messages$ | async; track message) {
  <div class="flex flex-row border">
    <div class="flex justify-center margin-x-6 margin-y-5">
      <img class="profile-pic" src="{{ message.pic }}" />
    </div>
    <div class="pad-right-11 w-full">
      <div class="margin-top-5">
        <span class="bold font-white font-ui">{{
          message.username != null ? message.username : message.author
        }}</span>
      </div>
      <div class="margin-y-5">
        <span class="font-white">{{ message.text }}</span>
      </div>
      <div class="">
        <mat-form-field appearance="fill" class="text-field w-full">
          <mat-label>Comment</mat-label>
          <textarea class="text-field" matInput></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  }
</div>
