<div class="message-pane flex-3 scroll">
  <div *ngIf="user$ | async as user" class="flex flex-row border margin-y-5">
    <div class="flex justify-center margin-x-6">
      <img class="profile-pic" src="{{ user.pic }}" />
    </div>
    <div class="flex flex-col w-full pad-right-11 margin-bot-10">
      <form [formGroup]="newMessageForm" (ngSubmit)="addMessage(user)">
        <mat-form-field appearance="fill" class="text-field w-full">
          <textarea
            class="text-field"
            matInput
            placeholder="What's happening?!"
            formControlName="message"
          ></textarea>
        </mat-form-field>
        <div>
          <button
            [disabled]="
              !newMessageForm.valid ||
              (newMessageForm.value.message &&
                newMessageForm.value.message.length == 0)
            "
            class="w-full"
            mat-flat-button
          >
            Post
          </button>
        </div>
      </form>
    </div>
  </div>
  @for (message of messages$ | async; track message) {
  <div class="flex flex-row border">
    <div class="flex justify-center margin-x-6 margin-y-5">
      <img class="profile-pic" src="{{ message.pic }}" />
    </div>
    <div class="flex flex-col w-full">
      <div class="flex justify-spread margin-top-5">
        <div class="">
          <div class="">
            <span class="bold font-white font-ui">{{
              message.username != null ? message.username : message.author
            }}</span>
          </div>
          <div class="margin-y-5 pointer" (click)="openThread(message)">
            <span class="font-white">{{ message.text }}</span>
          </div>
        </div>
        <div class="pad-right-5">
          @if (message.editable) {
          <button (click)="editMessage(message)" mat-mini-fab>
            <mat-icon>edit</mat-icon>
          </button>
          } @if(message.deletable) {
          <button (click)="deleteMessage(message)" mat-mini-fab>
            <mat-icon>delete</mat-icon>
          </button>
          }
        </div>
      </div>
      <div class="pad-right-11">
        <mat-form-field appearance="fill" class="text-field w-full">
          <mat-label>Comment</mat-label>
          <textarea class="text-field" matInput></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  }
</div>
