.border {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}

.pane-height {
  height: calc(100vh - 75px);
}

.message-pane {
  max-height: calc(100vh - 75px);
}

.profile-pic {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}