<div *ngIf="message$ | async as message">
  <div class="pad-x-5 border-bottom">
    <div class="flex items-center">
      <button (click)="goBack()" class="margin-y-3" mat-mini-fab>
        <mat-icon class="text-white">arrow_back</mat-icon>
      </button>
      <span class="pad-x-10 text-2xl text-white font-bold font-ui">Thread</span>
    </div>
    <div class="flex items-center margin-x-5">
      <img class="h-10 max-w-10 rounded-3xl" src="{{ message.pic }}" />
      <span class="margin-x-5 text-white font-bold font-ui">{{
        message.username
      }}</span>
    </div>
    <div class="margin-x-5 margin-y-12">
      <span class="text-white font-ui">{{ message.text }}</span>
    </div>
    <div class="margin-x-5 border-y">
      <app-action-bar
        *ngIf="user$ | async as user"
        (likeEmitter)="toggleLike(user, message)"
        (retwatEmitter)="toggleRetwat(user, message)"
        [message]="message"
      ></app-action-bar>
    </div>
    <div>
      <app-post-message
        (messageEmitter)="addComment($event, message)"
        [mode]="'comment'"
      ></app-post-message>
    </div>
  </div>
  @for (comment of comments$ | async; track comment) {
  <div class="flex flex-col border-bottom">
    <div class="flex flex-row pad-x-5 pad-y-7">
      <div class="flex margin-x-5">
        <img class="h-10 max-w-10 rounded-3xl" src="{{ comment.pic }}" />
      </div>
      <div class="flex flex-col">
        <span class="text-white font-bold font-ui">
          {{ comment.username }}
        </span>
        <span class="text-white font-ui">{{ comment.text }}</span>
      </div>
      <div class="flex justify-right flex-1 pad-right-5">
        @if (comment.editable) {
        <button (click)="editComment(comment)" mat-mini-fab>
          <mat-icon class="font-gray">edit</mat-icon>
        </button>
        } @if(comment.deletable) {
        <button (click)="deleteComment(comment)" mat-mini-fab>
          <mat-icon class="font-gray">delete</mat-icon>
        </button>
        }
      </div>
    </div>
    @if(!comment.retwatAuthor) {
    <div class="margin-x-10">
      <app-action-bar
        *ngIf="user$ | async as user"
        (likeEmitter)="toggleLike(user, comment)"
        (retwatEmitter)="toggleRetwat(user, comment)"
        [message]="comment"
      ></app-action-bar>
    </div>
    }
  </div>
  }
</div>
