@if(currentUser$ | async; as currentUser) {
<div class="margin-y-3">
  <div class="pad-x-5 flex flex-col">
    <div class="flex justify-between">
      <div class="flex">
        <button (click)="goBack()" class="flex items-center" mat-mini-fab>
          <mat-icon class="text-white">arrow_back</mat-icon>
        </button>
        <div class="pad-x-10 flex flex-col">
          <span class="text-2xl text-white font-bold font-ui">{{
            currentUser.username
          }}</span>
          <span class="font-gray font-ui text-sm">
            {{ numMessages$ | async }} messages
          </span>
        </div>
      </div>
      <div>
        @if(isAuthProfile$ | async) {
        <button mat-button class="edit">Edit</button>
        <button mat-button class="margin-left-10 delete">Delete</button>
        }
      </div>
    </div>
  </div>
  <div class="pad-x-10 margin-left-5 margin-top-20">
    <img class="h-32 max-w-32 rounded-full" src="{{ currentUser.pic }}" />
  </div>
  <div class="pad-x-10 margin-top-5">
    <span class="text-2xl text-white font-bold font-ui">{{
      currentUser.username
    }}</span>
  </div>
  <div class="border-bottom margin-top-10 w-full h-12 flex justify-evenly">
    @for (f of filters; track f) {
    <app-option-select
      class="flex-1"
      [label]="f"
      [mode]="(mode$ | async) ?? ''"
      (labelEmitter)="changeFilter($event, currentUser)"
    >
    </app-option-select>
    }
  </div>
  @for (message of filteredMessages$ | async; track message) {
  <app-message [message]="message"></app-message>
  }
</div>
}
